Repository ToucanToco/fastexcel, pull requests merged in 2024-01, with the labels that each got.

#152 feat: extend `fastexcel` support to python >= 3.8
  .github/workflows/CI.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  pyproject.toml
  python/fastexcel/__init__.py
  python/fastexcel/_fastexcel.pyi
  python/tests/benchmarks/memory.py
  python/tests/test_durations.py
  python/tests/test_empty.py
  python/tests/test_fastexcel.py
Labels: enhancement, python

#153 chore: v0.7.0
  Cargo.lock
  Cargo.toml
Labels: chore

#161 fix(types/excelsheet): Fix duration to milliseconds conversion
  Makefile
  python/tests/fixtures/single-sheet-skip-rows-durations.xlsx
  python/tests/test_durations.py
  src/types/excelsheet.rs
Labels: bug, :crab: rust :crab:

#163 feat: allow spreadsheet location to include user directory shortcut `~`
  python/fastexcel/__init__.py
Labels: enhancement, :snake: python :snake:
