Repository ToucanToco/fastexcel, pull requests merged in 2024-09, with the labels that each got.

#285 feat(ExcelSheet): added a "visible" attribute
  python/fastexcel/__init__.py
  python/fastexcel/_fastexcel.pyi
  python/tests/fixtures/fixture-sheets-different-visibilities.xlsx
  python/tests/test_sheet_visibility.py
  src/types/python/excelreader.rs
  src/types/python/excelsheet/mod.rs
Labels: enhancement

#284 feat(ci): publish sdist to PyPI as well
  .github/workflows/CI.yml
  .github/workflows/release.yml
  Cargo.toml
Labels: github_actions

#282 feat: table support for Excel (XLSX) sheets
  .gitignore
  python/fastexcel/__init__.py
  python/fastexcel/_fastexcel.pyi
  python/tests/fixtures/sheet-with-tables.xlsx
  python/tests/test_tables.py
  src/error.rs
  src/types/python/excelreader.rs
  src/types/python/excelsheet/mod.rs
  src/types/python/excelsheet/table.rs
  test.py
Labels: enhancement, :hand: need review :hand:, :snake: python :snake:, :crab: rust :crab:, :spiral_notepad: calamine :spiral_notepad:

#287 feat: introduce ExcelTable object
  python/fastexcel/__init__.py
  python/fastexcel/_fastexcel.pyi
  python/tests/test_tables.py
  src/data.rs
  src/lib.rs
  src/types/python/excelreader.rs
  src/types/python/excelsheet/column_info.rs
  src/types/python/excelsheet/mod.rs
  src/types/python/mod.rs
  src/types/python/table.rs
  test-requirements.txt
Labels: :hand: need review :hand:, :snake: python :snake:, :crab: rust :crab:, proposal, feature request
